## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: pkg-manager-longer-timeouts
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 8), faketime, git
Homepage: https://github.com/Whonix/pkg-manager-longer-timeouts
Vcs-Browser: https://github.com/Whonix/pkg-manager-longer-timeouts
Vcs-Git: https://github.com/Whonix/pkg-manager-longer-timeouts.git
Standards-Version: 3.9.4

Package: pkg-manager-longer-timeouts
Architecture: all
Depends: ${misc:Depends}
Suggests: pkg-manager-no-autoupdate, kde-apper-no-autoupdate
Description: Longer Timeouts for Package Manager APT
 Raising timeout and retries using configuration snippet. Useful in context of
 slow networks and anonymity distributions.
 .
 Ships a configuration file /etc/apt/apt.conf.d/90longer-timeouts to configure
 apt-get.
